<table>
    <tr>
        <th><img src="..\assets\angular imgage\269-2697174_we-like-to-show-our-appreciation-for-your.png" /></th>
        <td>BE mechanical engineering from Annai Mira college of engineering and technology in 2021 with 7.71 CGPA.</td></tr>
    <tr>
      <th rowspan="2"><img src="..\assets\angular imgage\vector-walking-to-school-icon.jpg" /></th>
      <td>Higher secondary Education from Govt.hr.sec school, pillandhi pattu in 2017 with 70.3%</td>
    </tr>
    <tr>
      <td>Secondary school Leaving Certificate from Govt.hr.sec, pillandi pattu in 2015 with 84.4%</td>
    </tr>
  </table>