h2{
    margin-left:20% ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
    height: 200px;
    width: 200px;
    margin-left: 20%;
}
li{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left:15% ;
}