<div><img src="..\assets\angular imgage\me1.jpg.JPG" /></div>
<br>
<table>
    <tr>
    <th bgcolor="gray">NAME:</th> <td bgcolor="gray"> KIRUBANDHAN S </td>  </tr>
    <tr> 
    <th bgcolor="white">DOB:</th> <td bgcolor="white"> 24-05-2000 </td> </tr>
    <tr> 
    <th bgcolor="gray">FATHER NAME:</th> <td bgcolor="gray"> SELVAM C </td> </tr>
    <tr>
    <th bgcolor="white">ADDRESS:</th> <td bgcolor="white"> 2/404, T nagr,Pillandhi pattu,KV kuppam (TK),Vellore-632204.</td> </tr>
    <tr>
    <th bgcolor="gray">NATIONALITY:</th> <td bgcolor="gray">  Indian </td> </tr>
    <tr>
    <th bgcolor="white">MARITIAL STATUS:</th> <td bgcolor="white"> Single </td>  </tr>
    <tr>
    <th bgcolor="gray">SEX:</th> <td bgcolor="gray"> Male</td> </tr>
    <tr>
    <th bgcolor="white">LANGUAGE KNOWN:</th><td bgcolor="white"> Tamil, English </td> </tr>
     </table>