<div class="header">
  <a href="#default" class="logo">My<span>Resume</span></a>
  <div class="header-right">
    <a class="active" href="#home"><h3>Kirubanandhan s</h3></a>
    <a href="#contact"><h4>+91-8637691372</h4></a>
    <a href="mailto:kirubachan24052000@gmail.com"><h4>kirubachan24052000@gmail.com</h4></a>
    <a href="https://www.linkedin.com/public-profile/settings?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_self_edit_contact-info%3B8BCjUg50QCaDL731oPvJEg%3D%3D"><h4>linkedin@Kirubanandhan s</h4></a>
  </div>
</div>
<br>
<legend>OBJECTIVE:</legend>
<marquee behavior="alternate">•To work in challenging atmosphere that test my skills and to gain knowledge to 
  The best possible way.
</marquee>
<ul>
  <li><a class="active" href="#home" routerLink="personal">Profile</a></li>
  <li><a class="active" href="#home" routerLink="education">Education</a></li>
  <li><a class="active" href="#home" routerLink="project">Project</a></li>
  <li><a class="active" href="#home" routerLink="skills">Technical Skills</a></li>
  <li><a class="active" href="#home" routerLink="interest">Area of Interest</a></li>
  <li><a class="active" href="#home" routerLink="competencies">Competencies</a></li>
</ul>
<br><br>
<div>
  <router-outlet></router-outlet>
</div>
<fieldset>
<legend>DECLARATION:</legend>
<p> • I hereby declare that all the finished information is true to the best of my knowledge and if Given an opportunity
  I promise to give the best abilities to the organisation.</p>
</fieldset>