<h2>Professional skills :</h2>
<h3>Frontend Development:</h3>
<ul>
    <li><img src="..\assets\angular imgage\OIP (1).jpg" alt="">  HTML</li>
    <li><img src="..\assets\angular imgage\OIP (2).jpg" alt=""> CSS</li>  
    <li><img src="..\assets\angular imgage\R (3).png" alt=""> JAVASCRIPT</li>   
    <li><img src="..\assets\angular imgage\OIP (3).jpg" alt=""> DOM</li>
</ul>
    <h4>Frontend Framework:</h4>
    <ul><li><img src="..\assets\angular imgage\angularjs.png" alt=""> ANGULAR JS</li></ul>

<h3>Backend Development:</h3>
<ul>
    <li><img src="..\assets\angular imgage\OIP (4).jpg" alt=""> PYTHON</li>
</ul>
    <h4>Database:</h4>
    <ul><li> <img src="..\assets\angular imgage\R (4).png" alt=""> MYSQL</li></ul>
   

